@use 'variables';
@use 'themes/light';
@use 'themes/dark';

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
}

.app {
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-primary);
  background: var(--background-color-primary);
}
