@use 'variables';
@use 'themes/light';
@use 'themes/dark';

:root {
  color-scheme: light dark;
}

* {
  padding: 0;
  margin: 0;
}

.app {
  font: var(--font-m);
  color: var(--color-primary);
  background: var(--background-color-primary);
}
