@use 'reset';
@use 'variables';
@use 'themes/light';
@use 'themes/dark';

:root {
  color-scheme: light dark;
}

body {
  color: var(--color-primary);
}

#root {
  display: flex;
  height: 100vh;
  font: var(--font-m);
  background: var(--background-color-primary);
}
