.app {
  // Шрифт
  --font-family: 'Roboto', sans-serif;
  --font-size-m: 16px;
  --line-height-m: 24px;
  --font-size-l: 24px;
  --line-height-l: 32px;
  --font-size-xl: 32px;
  --line-height-xl: 40px;

  // z-index
  --header-z-index: 10;

  // Размеры
  --header-height: 60px;
  --app-side-padding: 30px;
}
