.button {
  padding: 10px;
  font: inherit;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  &[disabled] {
    cursor: default;
  }
}

.primary {
  background-color: transparent;

  &:hover {
    background-color: var(--background-color-secondary);
  }

  &[disabled] {
    background-color: transparent;
  }
}
