@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: white;
    --background-color-primary: #17212b;
    --background-color-secondary: #0e1621;
    --background-color-hover: #202b36;
    --border-color: #101921;
  }
}
