@media (prefers-color-scheme: dark) {
  .app {
    --color-primary: white;
    --background-color-primary: #1b1b1d;
    --background-color-secondary: #242526;
    --background-color-hover: #202b36;
    --border-color: #101921;
  }
}
