.messageInput {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background: var(--background-color-primary);
}

.textarea {
  flex-grow: 1;
}

.button {
  align-self: flex-end;
  margin-left: 15px;
}
